nav{
    background-color: aquamarine;
    width:100vw;
}

#nav{
    width: 100vw;
    list-style: none;
    display: flex;
    padding: 3vh 0;
    margin: auto;
}

.nav-left{
    justify-content: flex-start;
    margin-left: 3vw;
}
.nav-right{
    margin-left: auto;
    margin-right:3vw;
}